@use "../../scss/helper" as *;

.widgets {
  width: 25%;

  .chart {
    margin-bottom: 16px;
    border: 1px solid $main-color;
  }
}

.btn {
  color: black !important;
  border: 1px solid $main-color !important;
  font-weight: 600 !important;
  width: 100% !important;
  background-color: $white-smoke !important;
  margin-bottom: 16px !important;

  &:hover {
    background-color: $hover-color !important;
  }
}
