@use "../../scss/helper" as *;

.widgets {
  width: 25%;

  .chart {
    margin-bottom: 16px;
    border: 1px solid $main-color;
  }
}

.btn {
  border: 1px solid $main-color !important;
  font-weight: 600 !important;
  width: 100% !important;
  margin-bottom: 16px !important;
}
