@use "../../scss/helper" as *;

.analytics {
  margin: 0 auto;
  max-width: 1224px;
  padding: 0 16px;

  &__title__container {
    @include flex(center);
    padding: 16px 0;
  }

  &__container {
    border-top: 1px solid #8d979777;
    display: flex;
    padding: 16px 0;
  }
}
