@use "../../scss/helper" as *;

.drop {
  width: 100%;
  height: 100%;
  margin-left: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__wrapper {
    height: 100%;
  }

  &__add {
    @include grid(2, 20px);
    margin-top: 16px;
    height: 180px;
  }

  &__add__item {
    position: relative;
    @include flex(center, center);
    border: 1px solid $main-color;
    background-color: $hover-color;
    height: 100%;
    width: 100%;
    overflow: hidden;

    .icon-add {
      color: $main-color !important;
      font-size: 40px !important;
    }
  }
  .btns-container {
    display: flex;
    width: fit-content;
    align-self: flex-end;
    .btn {
      color: white;
      border: none;
      border-radius: $border-radius;
      padding: 10px 24px;
      font-size: 14px;
      font-weight: 600;
      letter-spacing: 1px;
      cursor: pointer;
      font-family: $font-family;
      transition: background-color 0.3s ease;
    }

    .submit-btn {
      background-color: rgb(90, 152, 247);

      &:hover {
        background-color: rgb(135, 181, 250);
      }
    }

    .reset-btn {
      background-color: rgb(77, 207, 60);

      &:hover {
        background-color: rgb(90, 247, 70);
      }
    }

    .back-btn {
      background-color: rgb(179, 181, 184);
      cursor: not-allowed;
      margin-right: 8px;
    }
  }
}
.droping {
  border: 2px solid rgb(135, 181, 250);
  opacity: 0.5;
}
