@use "../../scss/helper" as *;

.drop {
  width: 100%;
  margin-left: 16px;

  &__add {
    @include grid(2, 20px);
    margin-top: 16px;

    &__box {
        height: 240px
    }
  }

  &__add__item {
    position: relative;
    @include flex(center, center);
    border: 1px solid $main-color;
    background-color: $hover-color;
    height: 100%;

    .icon-add {
      color: $main-color !important;
      font-size: 40px !important;
    }
  }
}
.droping {
    opacity: 0.3;
    border: 1px solid green;
}