@use './scss/helper' as *;

body {
  font-family: "Montserrat", sans-serif;
  line-height: 1;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.title {
  margin-right: 16px;
  font-weight: 600;
  font-size: 18px;
}
.App {
  height: 100vh;
}
