$main-color: #8d979744;
$hover-color: #8d979777;
$text-color: #454545;
$white-smoke: #f5f5f5;
$gray-color: #8d9797;
$border-radius: 10px;
$box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.2);

$m-b: 16px;

$mobile-width: 600px;
$tablet-width: 1024px;

@mixin flex($align-items: "", $justify-content: "") {
  display: flex;
  align-items: $align-items;
  justify-content: $justify-content;
}

@mixin grid($columNumber, $gap) {
  display: grid;
  grid-template-columns: repeat($columNumber, 1fr);
  grid-gap: $gap;
}

@mixin mobile {
  @media only screen and (max-width: $mobile-width) {
    @content;
  }
}

@mixin tablet {
  @media only screen and (max-width: $tablet-width) {
    @content;
  }
}

.card {
  padding: 20px;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  background-color: white;
}